{% extends "base.html" %}

{% block content %}
<h1>Categories</h1>

{% if error %}
    <div class="error">
        {{ error }}
    </div>
{% endif %}

<h2>Add category</h2>

<form method="post" action="/categories">
    <input
        type="text",
        name="name",
        placeholder="Category name",
        required
    >

    <button class="sumbit-button" type="submit">
        Add
    </button>
</form>

<h2>Existing categories</h2>

{% if categories %}
    <table>
        <thead>
            <th>Name</th>
            <th>Actions</th>
        </thead>

        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <form
                            method="post"
                            action="/categories/{{ category.id }}/delete"
                            onsubmit="return confirm('Delete category {{ category.name }}?');"
                            style="margin 0;"
                        >
                            <button class="delete-button" type="submit">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No categories yet</p>
{% endif %}

{% endblock %}