<link rel="stylesheet" href="{{ url_for('static', path='css/modal_transaction.css') }}">
<script type="module" src="/static/js/modal_transaction.js"></script>

<div id="transaction-modal" class="modal hidden">
    <div class="modal-content">
        <button
            type="button"
            class="modal-close"
            onclick="closeTransactionModal()"
            aria-label="Close modal"
        >
            ×
        </button>

        <h2 id="transaction-modal-title">Add transaction</h2>

        <form id="transaction-form" method="post">
            <input type="hidden" id="transaction_id" name="transaction_id">

            <div>
                <label>Title</label>
                <input type="text" id="title" name="title" required>
            </div>

            <div>
                <label>Price</label>

                <div class="price-row">
                    <input type="number" id="unit_price" name="unit_price" required>
                    <select id="currency" name="currency" required>
                        {% for currency in currencies %}
                            <option value="{{ currency }}">
                                {{ currency }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div>
                <label>Category</label>
                <select id="category_id" name="category_id" required>
                    {% for category in categories %}
                        <option value="{{ category.id }}">
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label>Amount</label>
                <input type="number" id="amount" name="amount" step="1" required>
            </div>

            <div>
                <label>Description</label>
                <input type="text" id="comment" name="comment">
            </div>

            <div>
                <label>Date</label>
                <input type="date" id="spent_at" name="spent_at">
            </div>

            <button id="transaction-submit-button" type="submit">
                Save
            </button>
        </form>
    </div>
</div>